@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.9702 0 0);
	--foreground: oklch(0.2264 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2264 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2264 0 0);
	--primary: oklch(0.6368 0.2078 25.3313);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9551 0 0);
	--secondary-foreground: oklch(0.2264 0 0);
	--muted: oklch(0.9702 0 0);
	--muted-foreground: oklch(0.551 0.0234 264.3637);
	--accent: oklch(0.9551 0 0);
	--accent-foreground: oklch(0.2264 0 0);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9276 0.0058 264.5313);
	--input: oklch(0.9342 0.0034 247.8575);
	--ring: oklch(0.6368 0.2078 25.3313);
	--chart-1: oklch(0.6368 0.2078 25.3313);
	--chart-2: oklch(0.5106 0.2301 276.9656);
	--chart-3: oklch(0.6959 0.1491 162.4796);
	--chart-4: oklch(0.7686 0.1647 70.0804);
	--chart-5: oklch(0.5854 0.2041 277.1173);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.2264 0 0);
	--sidebar-primary: oklch(0.6368 0.2078 25.3313);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9551 0 0);
	--sidebar-accent-foreground: oklch(0.2264 0 0);
	--sidebar-border: oklch(0.9276 0.0058 264.5313);
	--sidebar-ring: oklch(0.6368 0.2078 25.3313);
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 8px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: #000000;
	--shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: normal;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1822 0 0);
	--foreground: oklch(0.9067 0 0);
	--card: oklch(0.235 0 0);
	--card-foreground: oklch(0.9067 0 0);
	--popover: oklch(0.235 0 0);
	--popover-foreground: oklch(0.9067 0 0);
	--primary: oklch(0.5771 0.2152 27.325);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.2931 0 0);
	--secondary-foreground: oklch(0.9067 0 0);
	--muted: oklch(0.2768 0 0);
	--muted-foreground: oklch(0.7058 0 0);
	--accent: oklch(0.2931 0 0);
	--accent-foreground: oklch(0.9067 0 0);
	--destructive: oklch(0.5771 0.2152 27.325);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3562 0 0);
	--input: oklch(0.235 0 0);
	--ring: oklch(0.5771 0.2152 27.325);
	--chart-1: oklch(0.5771 0.2152 27.325);
	--chart-2: oklch(0.4568 0.2146 277.0229);
	--chart-3: oklch(0.596 0.1274 163.2254);
	--chart-4: oklch(0.6658 0.1574 58.3183);
	--chart-5: oklch(0.5106 0.2301 276.9656);
	--sidebar: oklch(0.235 0 0);
	--sidebar-foreground: oklch(0.9067 0 0);
	--sidebar-primary: oklch(0.5771 0.2152 27.325);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.2931 0 0);
	--sidebar-accent-foreground: oklch(0.9067 0 0);
	--sidebar-border: oklch(0.3562 0 0);
	--sidebar-ring: oklch(0.5771 0.2152 27.325);
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 8px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.5;
	--shadow-color: #000000;
	--shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.25);
	--shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.25);
	--shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
	--shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
	--shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.5), 0px 8px 10px -1px hsl(0 0% 0% / 0.5);
	--shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	a,
	button {
		@apply cursor-pointer;
	}
}
